<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475875571150-0pdosnse4ia6u4bri67uh2idk3fi4oec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475875571150-0pdosnse4ia6u4bri67uh2idk3fi4oec</string>
	<key>API_KEY</key>
	<string>AIzaSyB4gQjpw6k08GGYi4US8tOcQxaMy67evpU</string>
	<key>GCM_SENDER_ID</key>
	<string>475875571150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.microivan.hotspotutility</string>
	<key>PROJECT_ID</key>
	<string>amazing-tiger-340610</string>
	<key>STORAGE_BUCKET</key>
	<string>amazing-tiger-340610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475875571150:ios:36c8985e4999188aaaa79f</string>
</dict>
</plist>